
<!--

    Page peut etre lancer grâce à l'extention live server de vscode 

    Click droit et "Open With Liveserver"

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-01</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="section">
            <label class="titre">1 - Interpollation </label>
            {{titre}}
        </div>
        <div class="section">
            <label class="titre">2 - JS dans Interpollation </label>
            {{sousTitre.toUpperCase()}}
        </div>
        <div class="section">
            <label class="titre">3 - Valeur calculée </label>
            {{calcul}}
        </div>
        <div class="section">
            <label class="titre">4 - Binding de propriété </label>
            <div><img v-bind:src="imageSrc" style="width: 1%" /></div>
            <div><img :src="imageSrc" style="width: 1%" /></div>
        </div>
        <div class="section">
            <label class="titre">5 - Binding de innerHTML </label>
            <p v-text="texteBrut"></p>
            <p v-html="texteHTML"></p>
        </div>
        <div class="section">
            <label class="titre">6.1 - Binding bidirectionnel avec input </label>
            <input type="text" v-model="nom">
            Bonjour {{nom}}
        </div>
        <div class="section">
            <label class="titre">6.2 - Binding bidirectionnel avec select </label>
            <select v-model="selection">
                <option value="1">Paris</option>
                <option value="2">Londres</option>
                <option value="3">Madrid</option>
            </select>
            Vous avez choisi : {{selection}}
        </div>
        <div class="section">
            <label class="titre">7 - Binding + interpollation </label>
            <input type="text" v-model="text1" v-on:keyup="recopie">
            <input type="text" :value="text2">
        </div>
        <div class="section">
            <label class="titre">8 - Binding dans un tableau </label>
            <input type="checkbox" v-model="cases" value="Javascript">
            <label>Javascript</label>
            <input type="checkbox" v-model="cases" value="HTML">
            <label>HTML</label>
            <input type="checkbox" v-model="cases" value="CSS">
            <label>CSS</label>
            <p>Cases cochées : {{cases}}</p>
        </div>
        <div class="section">
            <label class="titre">9 - Gestion de evenements</label>
            <Label>Prénom</Label>
            <input type="text" v-model="prenom">
            <button v-on:click="bonjour('Bonjour')">Bonjour</button>
            <button v-on:click="bonjour('Hello')">Hello</button>
        </div>
        <div class="section">
            <label class="titre">10 - L'objet $event</label>
            <img :src="imageSrc" @mousemove="refreshMouseposition($event)"/>
            <label>Coordonnée de la souris : {{mousePosition}}</label>
        </div>
        <div class="section">
            <label class="titre">11 - stopPropagation() et preventDefault() de $event</label>
            <div @keydown="actionParente">
                <input type="text" @keydown="action($event)">
            </div>
            <!-- Equivalent-->
            <div @keydown="actionParente">
                <input type="text" @keydown.prevent.stop>
            </div>
            <!---->
            <a href="https://www.google.fr" target="_blank" @click="$event.preventDefault()">Google</a>
            
            <!-- Le bouton n'est cliquable qu'une fois-->
            <button @click.once="console.log('clicked')">Button</button>

            <!-- Le log ne s'affiche que lors de l'appui sur espace-->
            <!-- voir les codes ici : https://www.toptal.com/developers/keycode -->
            <input type="text" @keyup.space="console.log('space pressed')">

        </div>
        <div class="section">
            <label class="titre"></label>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    titre: 'Le titre',
                    sousTitre: 'Le sous titre',
                    val: 5,
                    imageSrc: 'https://vuejs.org/images/logo.png',
                    texteBrut: 'Ceci est le text brute',
                    texteHTML: '<font color="red">Coucou</font>',
                    nom: '',
                    selection: '',
                    text1: '',
                    text2: '',
                    cases: [],
                    prenom: '',
                    mousePosition: ''
                }
            },
            methods: {
                recopie() {
                    this.text2 = this.text1.toUpperCase()
                },
                bonjour(textIntro) {
                    alert(textIntro + ' ' + this.prenom)
                },
                refreshMouseposition(ev) {
                    this.mousePosition = 'x=' + ev.offsetX + ', y=' + ev.offsetY
                },
                action(ev) {
                    console.log('Evenement traité dans input');
                    ev.preventDefault();
                    ev.stopPropagation();
                },
                actionParente() {
                    console.log("Evenement traité dans le parent")
                }

            },
            computed: {
                calcul() {
                    return this.val * 4
                }
            }
        });
        let vm = app.mount('#app')
        vm.titre = 'nouveau Titre'
    </script>

    <style>
        .section {
            padding-top: 5px;
            padding-bottom: 40px;
            border-top: 3px solid grey;
            width: 40%;

        }
        .titre {
            display: block;
            margin-bottom: 20px;
            color: darkslategrey;
        }
    </style>
</body>

</html>